@charset "UTF-8";
@media screen and (min-width: 768px) and (max-width:992px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    html{
        height: 100vh;
    }
    body{
        background-image: url(../../imagens/back-tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    main{
        background-color: rgba(255, 255, 255, 0.781);
        max-width: 400px;
        display: block;
        margin: auto;
        border-radius: 10px;
        padding: 5px;
        margin-top: 20px;
    }
    main h1{
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.233);
    }
    #tel{display: none;}
    #pc{display: none;}
    #impressora{display: none;}
    #tablet{display: block; margin: auto;}
    #tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width:1200px){ 
    *{
        margin: 0px;
        padding: 0px;
    }
    html{
        height: 100vh;
    }
    body{
        background-image: url(../../imagens/back-pc.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    main{
        background-color: rgba(255, 255, 255, 0.781);
        max-width: 400px;
        display: block;
        margin: auto;
        border-radius: 10px;
        padding: 5px;
        margin-top: 20px;
    }
    main h1{
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.233);
    }
    #tel{display: none;}
    #pc{display: block; margin: auto;}
    #impressora{display: none;}
    #tablet{display: none;}
    #tv{display: none;}
}

@media screen and (min-width: 1200px){
    *{
        margin: 0px;
        padding: 0px;
    }
    html{
        height: 100vh;
    }
    body{
        background-image: url(../../imagens/back-tv.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    main{
        background-color: rgba(255, 255, 255, 0.781);
        max-width: 400px;
        display: block;
        margin: auto;
        border-radius: 10px;
        padding: 5px;
        margin-top: 20px;
    }
    main h1{
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.233);
    }
    #tel{display: none;}
    #pc{display: none;}
    #impressora{display: none;}
    #tablet{display: none;}
    #tv{display: block; margin: auto;}
}


