@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
#plano_fundo{
    background-image: url(plano_fundo_pizza.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#plano_fundo{
    height: 100vh;
}
form{
    background-color: rgb(170, 170, 170);
    margin: auto;
    max-width: 500px;
    min-width: 300px;
    border-radius: 10px;
}
form h1{
    padding: 5px;
}
form p{
    padding: 5px;
    font-size: 1.5em;
}